.about-page {
  margin-left: 25px;
  margin-right: 25px;
  width: 85%;
  font-size: 18px;
  text-align: left;
}

@media (min-width: 769px) {
  .about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
  }

  .about-page {
    margin-left: 25px;
    margin-right: 25px;
    width: 97%;
    font-size: 18px;
    text-align: left;
  }

  p {
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    margin-right: 15px;
  }

  img {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
  }
}