.about-page {
  margin-left: 25px;
  margin-right: 25px;
  width: 85%;
  font-size: 18px;
  text-align: left;
}

@media (min-width: 769px) {
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    width: 50%;
    margin: auto;
  }

  .about-page {
    margin-left: 25px;
    margin-right: 25px;
    width: 97%;
    font-size: 18px;
    text-align: left;
  }

  p, img {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
  }

  // p {
  //   order: 0;
  //   flex: 1 1 auto;
  //   align-self: center;
  //   margin-right: 15px;
  // }

  // img {
  //   order: 0;
  //   flex: 0 1 auto;
  //   align-self: center;
  // }
}