@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Quicksand&display=swap");

$font-logo: 'Montserrat Subrayada', sans-serif;

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

